{% extends 'pavelstanlley/base.html' %}
{% load staticfiles %}
{% block content %}

    {% for article in object_list %}
        <div class="archive">
        <li><p>{{ article.pub_date|date:"F j, Y" }}:  </p><a href= "{% url 'index' %}post/{{article.slug}}"><p>{{ article.title }}</p></a><p>{{article.text|truncatewords:30|safe}}</p></li>
        </div>
    {% endfor %}
</ul>

<p>
    {% if previous_month %}
        Previous Month: {{ previous_month|date:"F Y" }}
    {% endif %}

</p>

{% endblock %}